.Sidebar {
  height: calc(100vh - 70px);
  width: var(--sidebar-width);
  background: var(--navbar-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lang {
  padding-left: 20px;
}

.items {
  padding-top: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.item {
  padding-top: 25px;
  display: flex;
  align-items: center;

  &:hover {
    fill: white;
  }
}

.link {
  padding-top: 3px;
  padding-left: 10px;
  transition: opacity 0.3s;
  opacity: 1;

  &:hover {
    color: var(--hover-navbar-color);
  }
}

.icon {
  fill: var(--navbar-color);
  transition: all 0.3s;

  &:hover {
    fill: var(--hover-navbar-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    padding-left: 0;
  }

  .link {
    opacity: 0;
    transition: opacity 0.3s;
    width: 0;
  }
}