.app.dark {
  --bg-color: #131313;
  --navbar-bg-color: #202020;
  --primary-color: #fff;
  --secondary-color: #202020;
  --navbar-color: #848484;
  --hover-navbar-color: #fff;
  --hover-bg-color: #272626;
}